<%- include("partials/head.ejs") %> <%- include("partials/header.ejs") %>

<h2><%= job && job._id ? "Edit Job" : "Add New Job" %></h2>
<form
  method="POST"
  action="<%= job && job._id ? `/jobs/update/${job._id}` : '/jobs' %>"
>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  <div>
    <label for="company">Company</label>
    <input
      type="text"
      id="company"
      name="company"
      value="<%= job && job.company ? job.company : '' %>"
      required
    />
  </div>
  <div>
    <label for="position">Position</label>
    <input
      type="text"
      id="position"
      name="position"
      value="<%= job && job.position ? job.position : '' %>"
      required
    />
  </div>
  <div>
    <label for="status">Status</label>
     <select name="status" id="status">
                <option value="pending" <%=job && job.status==="pending" ? "selected" : "" %>>Pending</option>
                <option value="interview" <%=job && job.status==="interview" ? "selected" : "" %>>Interview</option>
                <option value="declined" <%=job && job.status==="declined" ? "selected" : "" %>>Declined</option>
            </select>
  </div>
  <div>
    <button type="submit">
      <%= job && job._id ? "Update Job" : "Add Job" %>
    </button>
  </div>
</form>

<%- include("partials/footer.ejs") %> 